services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: candles_db
      POSTGRES_USER: candles_user
      POSTGRES_PASSWORD: candles_pass
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: