SHIPPO_TOKEN=
SHIPPO_API_BASE=
SHIPPO_API_VERSION=
SHIPPO_TIMEOUT_SECONDS=
SHIPPO_LABEL_FILE_TYPE=
SHIPPO_FALLBACK_PHONE=
SHIPPING_FALLBACK_RATE=
SHIP_FROM_NAME=
SHIP_FROM_COMPANY=
SHIP_FROM_STREET1=
SHIP_FROM_STREET2=
SHIP_FROM_CITY=
SHIP_FROM_STATE=
SHIP_FROM_ZIP=
SHIP_FROM_COUNTRY=
SHIP_FROM_PHONE=
SHIP_FROM_EMAIL=
THROTTLE_SHIPPING_RATES=
